.about-us-container {
    width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    /* background-color: red; */
    text-align: justify;
    line-height: 1.6;
  }
  
  .about-us-heading {
    font-size: 27px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-us-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-us-content {
    font-size: 18px;
    margin: 20px 0;
    text-align: justify;
    color: #333;
  }

  .plant_logo_left,
  .plant_logo_right {
    position: absolute;
    width: 60px;
    height: 60px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }

  .plant_logo_right{
    top: 20px;
    right: 20px;
    transform: rotate(15deg);
  }

  .plant_logo_left{
    top: 20px;
    left: 20px;
    transform: rotate(-15deg);
  }

  .plant_logo_left:hover,
  .plant_logo_right:hover {
    opacity: 1.0;
    transform: rotate(0deg) scale(1.1);
  }

  @media (max-width: 768px) {
    .about-us-container {
        padding: 30px 15px;
    }

    .plant_logo_left,
    .plant_logo_right {
        width: 50px;
        height: 50px;
        top: 15px;
    }

    .plant_logo_left {
        left: 15px;
    }

    .plant_logo_right {
        right: 15px;
    }
  }
